@import "vars"


@media only screen and (max-width : 1210px)
  .tabs__caption li
    font-size: 14px
    width: 180px
    height: 45px
    margin: 0 0 30px

  .slider-advantages
    max-width: none
    width: calc(100% - 470px)

  .slider-advantages__box
    font-size: 22px

  .header-links
    margin: 0 20px 0 0

  .button-group .btn
    max-width: 200px
    font-size: 16px
    height: 60px

  .availability-in-stores
    margin: 0 0 0 10px

  .product-photo
    width: 450px
    height: 450px

  .product-content
    width: calc(100% - 470px)

  .set-products__content
    width: 185px

  .set-products__wrapper
    width: calc(100% - 185px)


@media only screen and (max-width : 1110px)
  .set-products__wrapper
    width: 100%

  .set-products__content
    width: 100%
    margin: 0 0 30px

  .set-products
    margin: 0 0 20px
    h2
      max-width: none

  .checkout
    width: 390px

  .basket-section
    width: calc(100% - 390px)

  .error-promo
    max-width: none
    margin: 10px 0 0
    width: 100%


@media only screen and (max-width : 1080px)
  .footer-menu
    li
      margin: 0 0 10px
      a
        font-size: 12px

  footer
    .whatsapp
      font-size: 12px
      margin: 0 0 20px
    h3
      margin: 0 0 15px
      font-size: 14px
    .phone
      margin: 0 0 20px

  .footer-top
    padding: 30px 0

  .menu-document
    margin: 0 0 0 auto

  .banner-box
    font-size: 18px

  .banner-box__title
    padding: 20px

  .slider-advantages
    padding: 30px 45px

  .menu-subcategory__item-preview
    width: 300px

  .menu-subcategory__item
    width: calc(100% - 300px)

  .form-search
    max-width: 300px
    button
      width: 60px

  .home-menu
    li
      margin: 0 10px 0 0
      a
        font-size: 12px

  .sale-line
    font-size: 22px

  .whatsapp, .location
    font-size: 12px

  .catalog-button
    font-size: 14px

  .phone-wrapper
    max-width: 260px

  .pagination li
    margin: 0

  .product-photo
    width: 400px
    height: 400px

  .product-content
    width: calc(100% - 420px)

@media only screen and (max-width : 992px)
  .footer-box
    margin: 0 0 30px
    &:last-child
      margin: 0

  .list-payment li a
    width: 42px
    height: 32px

  .footer-bottom
    font-size: 12px

  .menu-document li
    margin: 0 20px 0 0

  .about-wrapper, .about-content
    padding: 20px

  .about
    h3
      font-size: 18px


  .box-text
    font-size: 13px
    line-height: 1.4
    p
      margin: 0 0 15px
      &:last-child
        margin: 0
    ul
      li
        margin: 0 0 15px
        &:last-child
          margin: 0

  h2
    margin: 0 auto 30px
    font-size: 36px

  .col-4
    width: 33.3%

  .tabs__caption
    justify-content: space-around
    li
      font-size: 11px
      width: 140px

  .group-company__links
    max-width: none
    width: 33%
    height: 100px
    font-size: 16px

  .group-company__text
    max-width: none
    br
      display: none


  .form-pagination
    width: 100%
    margin: 10px 0 0

  .sidebar
    width: 220px

  .wrapper-content
    width: calc(100% - 220px)

  .slider-price input
    width: 70px

  .block_title
    font-size: 15px

  .col-banner-box
    order: -1
    width: 100%

  .banner-box
    height: 300px

  .menu
    li
      a
        font-size: 13px

  .help-box__icon
    max-width: 80px
    height: 80px

  .help-box-menu li a
    font-size: 14px

  .banner-callback h3
    font-size: 26px

  .help-box__body
    padding: 15px

  .help-box__title
    font-size: 18px

  .basket-order__box
    margin: 0 0 30px

  .wrapper-basket-order
    margin: 30px 0
    .container
      justify-content: space-around


@media only screen and (max-width : 920px)
  .checkout
    width: 100%

  .basket-section
    width: 100%
    padding: 0
    margin: 0 0 30px


  .phone-box
    display: flex
    flex-direction: column
    align-items: flex-start
    .phone
      display: flex
      align-items: center
      margin: 0 0 5px
      &:last-child
        margin: 0

  .category-item__img
    height: 200px

  .frequent-queries
    padding: 0
    justify-content: center
    margin: 0 0 30px
    p
      font-size: 16px

  .schedule, .home-menu li a, .header-links, .basket-wrapper
    font-size: 10px

  .phone, .location, input
    font-size: 12px

  .phone-wrapper
    max-width: 220px

  .form-search
    width: 250px
    input
      height: 40px
    button
      width: 50px

  .whatsapp
    font-size: 10px

  .whatsapp-icon
    width: 12px
    margin: 0 5px 0 0

  .logo
    max-width: 80px

  .catalog-button
    height: 45px
    font-size: 12px
    width: 100px
    padding: 0 8px

  .catalog-button__icon
    width: 18px
    height: 16px
    margin: 0 5px 0 0

  .header-links
    margin: 0 7px 0 0

  .basket-sum
    font-size: 14px

  .header-links__icon
    height: 18px
    width: 26px
    display: flex
    align-items: center
    justify-content: center
    img
      max-height: 100%

  .basket-icon
    height: 18px
    width: 26px
    img
      max-height: 100%

  .menu
    width: 100%
    overflow-x: auto
    flex: none
    li a
      white-space: nowrap

  .menu-subcategory__item-preview
    width: 200px
    font-size: 12px

  .menu-subcategory__item-preview-img
    height: 200px

  .menu-subcategory__item
    width: calc(100% - 200px)
    margin: 0 0 15px

  .menu-subcategory__links
    font-size: 14px

  .menu-category
    padding: 0

  .catalog-wrapper__content
    width: calc(100% - 285px)

  .main-home
    margin: 0 0 20px

  .slider-advantages__box
    font-size: 20px

  .dishes
    margin: 40px 0 0

@media only screen and (max-width : 850px)
  .menu-visible-mobile
    flex: none

  .form-search
    width: 200px
    input
      padding: 0 50px 0 10px

  .phone
    font-size: 11px

  .location
    font-size: 10px

  .phone-wrapper
    max-width: 200px

  .form-modal__bottom .btn
    max-width: 48%

  .banner-callback
    padding: 25px
    h3
      font-size: 24px

  .help-box-menu
    li
      margin: 0 0 10px
      a
        font-size: 13px

  .stage-delivery
    width: 50%
    margin: 0 0 30px
    br
      display: none

  .stage-delivery__icon
    &:before
      display: none

  .stages-delivery
    margin: 30px 0 0

  .delivery-banner__content
    max-width: 460px
    padding: 20px 32px 27px 27px

@media only screen and (max-width : 768px)
  .about-box
    width: 100%
    margin: 0 0 30px
    &:last-child
      margin: 0

  .about-content
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start

  .about
    padding: 30px 0

  .tabs__caption li
    margin: 0 0 10px

  h2
    font-size: 32px
    margin: 0 auto 20px

  .col-4
    width: 33.3%

  .new-price
    font-size: 20px

  .product-card__img
    height: 200px

  .col-banner-box
    width: 100%

  .banner-box
    height: 200px

  .dishes
    margin: 30px 0 0

  .group-company__icon
    width: 40px
    min-width: 40px

  .group-company__links
    font-size: 14px
    padding: 10px
    height: auto
    margin: 0 0 20px

  .sum-value
    font-size: 20px

  .btn-green
    font-size: 14.5px

  .old-price
    font-size: 18px

  .logo-pc
    display: none

  .logo-mobile
    display: block

  .list-products
    overflow-x: auto
    width: 100%
    flex-wrap: nowrap
    li
      margin: 0 10px 0 0
      flex: 1
      white-space: nowrap
      &:last-child
        margin: 0


  .banner-title
    font-size: 22px

  .bottom-line
    flex-direction: column
    align-items: center

  .pagination
    margin: 0 auto 10px

  .pagination li a
    padding: 4.5px 11px
    font-size: 12px

  .form-pagination
    font-size: 12px

  .subscribe-wrapper
    padding: 30px 20px 0

  .list-check
    font-size: 14px

  .subscribe-wrapper h2
    font-size: 24px

  .subscribe-wrapper .form-subscribe input
    font-size: 13px

  .btn-green
    font-size: 12.5px

  .btn-hover .links-white
    font-size: 11px

  .cost-product .new-price
    font-size: 28px
    img
      width: 13px

  .cost-product .old-price
    font-size: 20px
    img
      width: 10px

  .sale-val
    font-size: 20px

  .button-group .btn
    height: 50px

  .product-content__info .whatsapp, .availability-in-stores
    font-size: 13px

  .product-description .tabs__caption li
    font-size: 16px
    margin: 0 20px 0 0

  .label-group
    justify-content: flex-start
    label
      margin: 0 0 5px
      width: 33.3%
      max-width: none
      padding: 0 5px

  .icon-location
    right: 10px

  .wrapper-help
    .col-3
      width: 100%
      display: flex
      align-items: flex-start
      flex-wrap: wrap
      justify-content: space-between
    .help-box
      width: 48%
      margin: 0 0 20px
      &:last-child
        margin: 0 0 20px

  .window-box-registration .window-box__body
    padding: 30px 20px

@media only screen and (max-width : 760px)
  .slider-advantages
    width: 100%
    min-height: auto

  .slider-products-top__wrapper
    width: 100%
    margin: 30px auto 0
    max-width: none

  .mobile-menu, .overlay
    top: 109px
    height: calc(100% - 109px)

  .body-wrapper
    padding: 109px 0 0

  header
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 4
    background: #fff
    min-height: 109px

    .form-search, .header-top, .catalog-button, .header-links-delivery
      display: none

  .header-center
    padding: 10px 0
    border-bottom: solid 1px #aa9b98

  .logo
    max-width: 100px

  .phone

    font-size: 14px

  .header-links, .basket-wrapper
    font-size: 12px

  .header-links
    margin: 0 10px 0 0

  .header-bottom
    display: none

  .menu-visible-mobile
    display: flex
    width: 100%

    li
      a
        white-space: nowrap

  .btn-burger
    display: flex

  .btn-search-mobile
    display: flex
    align-items: center
    justify-content: center
    font-size: 12px
    flex-direction: column
    margin: 0 20px 0 0

  .form-search
    position: absolute
    top: 100%
    left: 0
    width: 100%
    max-width: none
    padding: 20px
    background: #fff
    z-index: 2
    button
      height: 54px
      top: 20px
      right: 20px

  .sidebar
    display: none
    position: fixed
    left: 0
    top: 0
    width: 300px
    height: 100%
    overflow-y: auto
    background: #fff
    padding: 20px 15px
    z-index: 10
    .btn-close
      display: flex

  .sidebar-item__category
    display: none

  .filter-selected
    display: flex

  .block_hover
    display: none

  .block_title:after
    background: url("../img/arrow-bottom.png") no-repeat center
      size: contain

  .btn-filter
    display: flex
    font-size: 14px
    img
      margin: 0 10px 0 0

  .sidebar-close
    display: flex
    font-size: 12px
    width: fit-content
    padding: 6.5px 7px
    border-radius: 5px
    margin: 0
    .selected-close
      width: 15px
      height: 15px

  .product-content
    width: 100%
    padding: 0
    border: none
    h1, .products-characteristics
      display: none


  .product-content__wrap
    padding: 20px

  .product-photo
    margin: 30px auto

  .product-info-mobile
    display: flex
    flex-wrap: wrap

  .products-characteristics
    margin: 0 0 20px

  .wrapper-content
    width: 100%
    padding: 0

  .window-box__body
    padding: 30px 20px

  .window-box h1
    margin: 0 auto 30px

  .btn-close-window
    width: 16px
    height: 16px
    top: 20px
    right: 20px

  .wrapper-window
    margin: 30px auto

@media only screen and (max-width : 670px)
  .footer-box
    width: 100%
    &:nth-child(-n+3)
      margin: 0
    &:nth-child(4)
      margin: 0 0 13px
    h3
      border-bottom: 1px solid #d1d1d1

  .icon-drop
    display: flex

  .footer-open
    &:nth-child(-n+3)
      margin: 0 0 20px
    .icon-drop
      &:after
        content: '-'

  .col-3, .col-4
    width: 50%





@media only screen and (max-width : 620px)
  .menu-document
    margin: 0 auto 10px
    order: -1
    width: 100%
    justify-content: space-around
    li
      margin: 0

  .copyright
    margin: 0 auto

  .tabs__caption
    margin: 0 0 15px
    li
      width: 49%
      margin: 0 0 10px
      font-size: 12px

  .group-company__links
    width: 33%
    margin: 0 0 15px
    height: auto
    flex-direction: column
    align-items: center
    text-align: center
    font-size: 12px

  .group-company__icon
    margin: 0 auto 10px
    width: 30px
    height: auto


  .logo
    max-width: 90px

  .phone-box .phone
    font-size: 12px

  .header-links, .btn-search-mobile
    font-size: 10px

  .header-links__icon
    height: 20px
    width: 25px
    img
      width: 100%
      height: 100%
      object-fit: contain

  .basket-icon
    width: 20px
    height: 20px

  .basket-box
    font-size: 10px

  .basket-val
    width: 18px
    height: 18px


  .basket-sum
    font-size: 14px

  .sale-line
    font-size: 18px
    padding: 6px 0

  header
    min-height: 95px

  .body-wrapper
    padding: 95px 0 0

  .mobile-menu, .overlay, .menu-level2
    top: 95px
    height: calc(100% - 95px)



@media only screen and (max-width : 575px)
  input
    height: 45px

  .form-search
    button
      height: 45px

  .popular-category-search h3
    margin: 0 0 20px
    font-size: 18px

  .sorting-wrapper
    margin: 0 10px 0 auto
    p
      display: none

  .list-products li a
    font-size: 12px

  .tabs__caption
    flex-wrap: nowrap
    flex: none
    width: 100%
    margin: 0 0 20px
    overflow-x: auto
    justify-content: flex-start
    li
      width: auto
      max-width: none
      margin: 0 5px 0 0
      white-space: nowrap
      height: auto
      padding: 6.5px 7px
      font-size: 14px

  .about 
    h2
      text-align: left
    h3
      font-size: 16px

  .about-content
    padding: 0
    border: none
      radius: 0

  .select-sort
    width: 160px
    padding: 4px 8px
    background: #e8e1df url("../img/arrow-bottom.png") 96% center no-repeat
      size: 10px
    border: none
    border-radius: 3px

  .footer-box-pc
    display: none

  .footer-box-mobile
    display: block
    width: 100%

  .article-item
    font-size: 13px
    margin: 0 20px 0 0

  .brand-item, .availability
    font-size: 13px

  .product-photo
    width: 300px
    height: 300px

  .button-group
    flex-direction: column
    align-items: center
    .btn
      margin: 0 0 10px

  .saving
    font-size: 10px

  .product-description .tabs__caption
    width: 100%
    margin: 0
    padding: 0 0 10px
    li
      font-size: 14px
      padding: 0
      &:before
        bottom: -10px

  .product-description
    margin: 40px 0

  .line-wrapper
    flex-direction: column
    align-items: flex-start
    .banner-callback__links
      margin: 0 0 20px

  .wrapper-help, .wrapper-about
    margin: 0 0 30px

  .delivery-banner
    height: auto
    flex-direction: column
    align-items: flex-start
    h3
      font-size: 20px
      margin: 0 0 15px
    .box-text
      font-size: 14px

  .delivery-banner__content
    max-width: none
    width: 100%
    background: #289074
    padding: 20px
    &:before
      display: none

  .delivery-banner-img
    position: relative
    max-width: none
    transform: none
    top: 0

  .window-box .btn
    height: 45px
    font-size: 16px

  .window-box
    h6
      margin: 20px auto 25px
    .line-wrapper
      flex-direction: row

  .window-box-welcome .window-box__body
    padding: 30px 20px

  .col-form
    width: 100%

  .form-registration .recapcha
    margin: 30px 0


@media only screen and (max-width : 500px)

  h2
    font-size: 30px

  .slider-advantages__box
    font-size: 20px

  .product-card__img
    height: 150px

  .product-card__body
    padding: 15px
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: space-between

  .product-card__title
    font-size: 12px
    height: 33px
    width: 100%

  .price
    font-size: 16px
    .units
      font-size: 12.5px

  .button-wrapper
    margin: 0

  .product-card
    &:hover
      .btn-hover
        display: none
    .button-wrapper
      width: 40px
      height: 40px

      .btn
        width: 100%
        height: 100%
        padding: 5px
    .price-wrapper
      width: calc(100% - 40px)
    .text-btn
      display: none

  .btn-green .icon-basket
    margin: 0

  .new-price
    font-size: 18px
    .units
      font-size: 12px
      img
        max-width: 8px

  .product-card .old-price
    font-size: 12.5px
    margin: 0

  .price-wrapper
    flex-wrap: wrap
    .new-price
      width: 100%
      order: 1

  .rub-icon
    margin-top: 0
    width: 9px

  .slider-products-card
    .text-btn
      display: block

  .cost-product .old-price
    margin-left: 0

  .cost-product .price-wrapper
    margin: 0
    max-width: 120px

  .cost-product .new-price
    font-size: 24px
    img
      width: 10px


  .sale-val
    font-size: 16px

  .cost-product .old-price
    font-size: 16px
    img
      width: 7px

  .tabs-delivery
    .tabs__caption
      flex-wrap: wrap
      li
        width: 100%
        margin: 0 0 10px
        height: 54px
        font-size: 16px
    .col-3
      width: 100%

  .list-dots
    li
      margin: 0 0 10px

  .stage-delivery__icon
    width: 60px
    height: 60px
    padding: 10px

@media only screen and (max-width : 480px)
  .slider-products-card__content
    padding: 0 0 0 10px
    width: calc(100% - 145px)

  .slider-products-card__img
    width: 145px
    height: 145px

  .slider-products-card__title
    max-width: none
    font-size: 14px
    margin: 0 0 10px

  .slider-products-card
    .btn
      height: 50px

  .rating
    margin: 0 0 10px
    font-size: 10px

  .rating-list li
    width: 12px
    height: 11px

  .old-price
    font-size: 16px

  .sale-value
    font-size: 12px
    width: 36px
    height: 18px

  .units
    margin: 0 0 0 4px
    font-size: 12px
    img
      max-width: 9px

  .sum-value
    font-size: 15px

  .btn-green .icon-basket
    width: 20px
    height: 19px


  .slider-products-top__title
    font-size: 14px

  .timer, .slider-products-top__wrapper .slick-dots li button
    font-size: 16px

  .slider-products-top__wrapper
    order: 1

  .basket-sum, header .phone-box, .header-links__text, .basket-text
    display: none

  .basket-icon, .header-links__icon
    margin: 0

  header
    min-height: 73px

  .mobile-menu, .overlay, .menu-level2
    top: 73px
    height: calc(100% - 73px)


  .body-wrapper
    padding: 73px 0 0

  .banner-title
    font-size: 18px

  .sidebar h3
    font-size: 18px

  .block_title
    font-size: 14px

  .subscribe-wrapper .form-subscribe button
    font-size: 11px
    width: 100px

  .subscribe-wrapper .form-subscribe input
    padding: 0 100px 0 15px

  .sale-line
    font-size: 14px
    //border-bottom: solid 2px #d1d1d1

  .btn-close-banner
    display: flex

  .slider-advantages__box
    .btn
      display: none

  .slick-prev
    background: transparent url("../img/arrow-left.png") no-repeat center
      size: 6px
    &:hover, &:focus
      background: transparent url("../img/arrow-left.png") no-repeat center
        size: 6px

  .slick-next
    background: transparent url("../img/arrow-right.png") no-repeat center
      size: 6px
    &:hover, &:focus
      background: transparent url("../img/arrow-right.png") no-repeat center
        size: 6px

  .group-company__links
    font-size: 10px

  .main-home
    margin: 0 0 30px

  .logo
    max-width: 80px

  .slider-products-top__line, .slider-products-top
    padding: 0 14px

  h2
    margin: 0 auto 20px

  .dishes, .group-company
    margin: 30px 0 0

  .about
    padding: 30px 0

  .group-company__icon
    width: 20px
    min-width: 20px
    margin: 0 auto 5px

  .group-company__links
    font-size: 9px
    padding: 5px

  .header-center
    padding: 0
    .container
      align-items: stretch

  header
    .logo
      padding: 6px 0
      margin: 0 auto

  .btn-burger
    border-right: solid 2px #d1d1d1

  .btn-search-mobile
    margin: 0
    padding: 0 15px
    border-right: solid 2px #d1d1d1

  .header-center-wrapper
    align-items: stretch

  .header-links
    margin: 0
    padding: 0 15px
    justify-content: center
    border-left: solid 2px #d1d1d1

  .basket-wrapper
    padding: 0 0 0 15px
    border-left: solid 2px #d1d1d1

  .header-center
    border-bottom: solid 2px #d1d1d1

  .views-products
    display: none

  .sorting-wrapper
    margin: 0 0 0 auto

  .sidebar-close
    font-size: 14px

  .availability, .availability-in-stores
    width: 100%
    margin: 10px 0 0 0

  .form-modal__bottom
    flex-direction: column
    align-items: center
    .btn
      max-width: none
      margin: 0 0 10px
      &:last-child
        margin: 0

  .label-group label
    width: 50%

  .category-item__img
    height: 140px

@media only screen and (max-width : 420px)
  header .logo
    padding: 9px 0

  .slider-products-top__line
    flex-wrap: wrap
    margin: 0 0 20px

  .sale-line
    font-size: 10px

  .product-card__body
    padding: 10px

  .product-card .button-wrapper
    width: 35px
    height: 35px

  .btn-filter
    font-size: 12px

  .select-sort
    font-size: 12px
    width: 130px


  .views-products__item
    width: 23px
    height: 23px
    margin: 0 5px 0 0

  .btn-close
    margin: 35px 0 30px 0


  .slider-advantages
    width: calc(100% + 40px)
    margin: 0 -20px
    padding: 0
    border: none
    .slick-dots
      margin: 20px 0 0

  .slider-advantages__box
    padding: 20px
    border: solid 1px #aa9b98
    min-height: 250px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center


  .sidebar
    width: 100%

  .checkbox .checkbox-custom
    width: 14px
    height: 14px
    min-width: 14px
    margin: 0 5px 0 0

  .checkbox
    font-size: 12px
    align-items: flex-start

  .list-checkbox
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap
    li
      width: 49%
      &:last-child
        margin: 0 0 10px

  .slider-advantages__title
    margin: 0

  .slider-advantages .slick-dots li
    width: 37px

  .about, .subscribe
    display: none

  footer
    margin: 30px 0 0

  .slider-price input
    font-size: 12px
    height: 30px

  .slider-range
    margin: 20px 0 0

  .slider-products-top__title
    font-size: 12px

  .slider-products-top__nav
    margin: 0 auto 0 5px

  .timer, .slider-products-top__wrapper .slick-dots li button
    font-size: 14px

  .col-4, .col-3
    padding: 0 5px

  .row
    margin: 0 -5px

  .menu li a, .list-products li a
    font-size: 14px
    padding: 6.5px 7px

  .list-products li
    margin: 0 5px 0 0

  .consent
    padding: 20px

  .form-checkout button
    font-size: 14px

  .promo-wrapper
    flex-direction: column
    align-items: center
    label
      max-width: 100%
      width: 100%
      margin: 0 0 10px

  .card-product-line .product-card__img
    width: 120px

  .card-product-line__content
    width: calc(100% - 120px)
    padding: 20px 10px

  .checkout-item h4
    font-size: 15px

  .checkout-item__wrapper .w-50
    width: 100%
    margin: 0 0 10px
    &:last-child
      margin: 0

  .breadcrumb
    li
      margin: 0 0 3px
      &:last-child
        margin: 0
        display: none

  .product-content
    .button-group
      order: 1
      margin: 0 0 10px
      .btn
        max-width: none
        height: 45px

  .product-content__wrap
    display: flex
    flex-wrap: wrap
    align-items: flex-start

  .cost-product
    flex-direction: column
    align-items: flex-start
    .new-price
      margin: 0 0 0 10px
      width: auto
    .price-wrapper
      width: 100%
      margin: 0 0 10px
      max-width: none

  .product-content__info
    order: 1
    .availability
      margin: 0 0 10px

  .category-item__img
    height: 100px

  .help-box
    width: 100%

  .banner-callback__icon-whatsapp, .banner-callback__icon
    width: 30px
    height: 30px
    min-width: 30px

  .banner-callback__icon
    padding: 7px

  .banner-callback h3
    font-size: 22px

  .help-box__icon
    width: 60px
    height: 60px
    margin: 0 0 15px

  .help-box__title
    margin: 0 0 15px
    font-size: 16px

  .wrapper-delivery .wrapper-content
    margin: 0

@media only screen and (max-width : 340px)
  .slider-products-card__title
    margin: 0 0 5px

  .slider-products-card
    .btn
      height: 40px
      margin: 10px 0 0
    .new-price
      font-size: 16px
    .old-price
      font-size: 14px
